<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="ProductsConnectionString" connectionString="Data Source=UDI-PC\SQLEXPRESS;Initial Catalog=Products;Integrated Security=True" />
      <!--<add name="ProductsConnectionString" connectionString="Data Source=.;Initial Catalog=Products;Integrated Security=True" />-->
    </connectionStrings>
</configuration>